<h3>Add a Pet to this Application</h3>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search_pet_name %>
  <%= f.text_field :search_pet_name%>
  <%= f.submit "Search" %>
<% end %>

<% unless @pets.nil? %>
  <% @pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <%= button_to "Adopt me. I'm lovable!", "/applications/#{@application.id}/pets?pet_id=#{pet.id}", method: :post %>
  <% end %>
<% end %>