<h1>Adopt A Pet Application</h1>

<p>Name: <%= @application.name %></p>
<br>
<p>Full Address: <%= "#{@application.street_address} #{@application.city}, #{@application.state} #{@application.zipcode}" %></p>
<br>
<p>Application Status: <%= @application.status %></p>
<br>
<p>Name of all pets you want to adopt:</p>
<br>
<p>Description: <%= @application.home_description %></p>
<br>
<p>Add a Pet to this Application</p>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search_pet_name %>
  <%= f.text_field :search_pet_name%>
  <%= f.submit "Search" %>
<% end %>

<% @pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
