<p>Status: <%= @application.status %></p>
<br>
<p>Name: <%= @application.name %></p>
<br>
<p>Address: <%= "#{@application.street_address} #{@application.city}, #{@application.state} #{@application.zipcode}" %></p>
<br>
<p>Why my home makes a good home: <%= @application.home_description %></p>
<br>
<% if @application.status == "Pending" %>
  <p>Why I would be a good owner for the pet(s) listed below: <%= @application.owner_description %></p>
<% end %>
<br>