<h1>Application #<%= @application.id %></h1>

<%= render partial: "shared/app_details" %>

<p>Pet(s) on this application:</p>
<% @app_pets.each do |pet| %>
  <%= pet.name %>
  <%  if pet.status(@application.id) == "pending" %>
    <%= button_to "Approve #{pet.name}", "/admin/applications/#{@application.id}?approved=#{pet.id}", method: :patch %>
    <%= button_to "Reject #{pet.name}", "/admin/applications/#{@application.id}?rejected=#{pet.id}", method: :patch %>
  <% elsif pet.status(@application.id) == "approved"%>
    <p><%= pet.name %> has been approved!</p>
  <% elsif pet.status(@application.id) == "rejected"%>
    <p><%= pet.name %> has been rejected &#x1F622;</p>
  <% end %>
<% end %>